.transactionHistory {
  width: 400px;
  margin: 0 auto;
  border: 2px solid rgb(181, 180, 180);
  border-radius: 4px;
  box-shadow: 4px 4px 5px -3px rgba(0, 0, 0, 0.5);
}

thead {
  background-color: darkgreen;
  color: white
}

tr {
  text-align: center;
  height: 45px;
}

tr:nth-child(2n) {
  background-color: hsl(130, 83%, 84%);
}

